:root {
  /* Light Mode (Default) */
  --bg-color: #f5efe7;
  --text-color: #4a5d7e;
  --navbar-bg: #789dbc;
  --card-bg: linear-gradient(180deg, #eee8e5 0%, #edd6cbdc 100%);
  --header-text: #4a5d7e;
  --philo-section: #f5efe7;
  --footer-a: #f5dada;
  --footer-a-hover:#f6cbcb;

}

[data-theme="dark"] {
  /* Dark Mode */
  --bg-color: #1a1a2e;
  --text-color: #ffffff;
  --navbar-bg: #2f364e;
  --card-bg: linear-gradient(180deg, #99afcd 0%, #565675 100%);
  --header-text: #ffffff;
  --philo-section: rgb(50, 65, 109);
  --footer-a: #b1c3e8;
  --footer-a-hover:#96acd8;
}

/* Apply variables to elements */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.topnav {
  background-color: var(--navbar-bg);
}

.grid-item {
  background: var(--card-bg);
}


header h1, header p {
  color: var(--header-text);
}

.philosophers-section h2,.philosopher-card h3 {
  color: var(--header-text);
}

.philosophers-section {
  background-color: var(--philo-section);
}

.control li{
  background: var(--card-bg);
}

.btn{
  background-color: var(--philo-section);
  color: var(--header-text);
}
footer{
  background-color: var(--navbar-bg);
}

header {
  background-image: var(--bg-IMG);

}
footer a {
  color: var(--footer-a);

}

footer a:hover {
  color: var(--footer-a-hover)
}
.filter-section {
  background: var(--card-bg);


}
.filter-section ul li a{
  color: var(--header-text);
}
h3{
  color: var(--header-text); 
}