/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f8ff; /* Light blue background */
  color: #333; /* Dark grey text */
  margin: 0;
  padding: 0;
  text-align: center; /* Center-align all text */
  font-size: 1rem;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1.25rem;
}

h1 {
  color: #e9edf0; /* Dark blue for headings */
  text-align: center; /* Center-align headings */
  font-size: 2.5rem;
}

h2,
h3 {
  color: #0077b6; /* Dark blue for headings */
  text-align: center; /* Center-align headings */
  font-size: 1.5rem;
}

a {
  color: #00b4d8; /* Light blue for links */
  text-decoration: none;
}

a:hover {
  color: #0077b6; /* Darker blue on hover */
  text-decoration: underline;
}

/* Header Styles */
header {
  background-image: url("images/back3.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

/* List Styles */
.list-group {
  margin-top: 20px;
  padding-left: 0; /* Remove default padding */
  list-style: none; /* Remove bullet points */
}

.list-group-item {
  background-color: #fff; /* White background for list items */
  border: 1px solid #ddd; /* Light grey border */
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center; /* Center-align list items */
}

.list-group-item:hover {
  background-color: #f0f8ff; /* Light blue background on hover */
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 0.8em;
  background-color: #58a7f1; /* Light blue background */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 0.8rem;
  max-width: 80%;
  margin-top: 1em;
  margin-bottom: 0em;
}

.btn:hover {
  background-color: #0077b6;
  color: #fff;
}

/* Intro Section */
.intro-section {
  background-color: #b7d8f1; /* Light blue background */
  padding: 40px 0;
  text-align: center;
}

.intro-section h2 {
  color: #102c8ed3; /* Dark blue heading */
  margin-bottom: 20px;
}

.intro-section p {
  font-size: 1.1rem;
  color: #333; /* Dark grey text */
  max-width: 100%;
  margin: 0 auto;
}

/* Philosophers and Schools Sections */
.philosophers-section {
  padding: 1.25rem;
}

.philosophers-section h2 {
  color: #102c8ed3; /* Dark blue heading */
  margin-bottom: 20px;
  grid-column: 1 / -1;
}

.philosophers-section p {
  font-size: 1.1rem;
  color: #333; /* Dark grey text */
  margin-bottom: 20px;
  grid-column: 1 / -1;
}

/* Footer Section */
footer {
  background-color: #0077b6; /* Dark blue footer */
  color: #fff; /* White text */
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

footer a {
  color: #00b4d8; /* Light blue links */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
/* Philosopher and School Images */
.philosopher-image,
.detail-image {
  /* width: 200px; */
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.topnav {
  background-color: #222d4b;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #426c90;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center; /* Center the pagination */
  margin-top: 1.25rem; /* Space above pagination */
  max-width: 100%;
  margin-left: 1.875rem;
}

.page-btn {
  display: inline-block;
  padding: 0.625rem 0.9375rem; /* 10px 15px */
  margin: 0 0.3125rem;
  background-color: #0077b6; /* Dark blue background */
  color: #ffffff; /* White text */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-btn:hover {
  background-color: #005f8c; /* Darker blue on hover */
}

/* Active Page Button */
.page-btn.active {
  background-color: #58a7f1; /* Lighter blue for active page */
}
.grid-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  gap: 1em; /* Consistent spacing between items */
  justify-content: center; /* Center items horizontally */
  flex: 5; /* Take up 3 parts of the available space */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center-align text */
  background-color: #fff; /* White background for cards */
  padding: 1em;
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: calc(33.333% - 1em);
  max-width: 300px;
  /* height: 90%; */
}

.grid-item:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}
.grid-item h2 {
  font-size: 0.9rem; /* Relative font size */
  margin: 0.5em 0; /* Relative margin */
  line-height: 1.2; /* Relative line height */
}

.grid-item p {
  font-size: 0.9rem; /* Relative font size */
  margin: 0.5em 0; /* Relative margin */
  line-height: 1.4; /* Relative line height */
}

.philosopher-image {
  max-width: 90%; /* Ensure the image fits within the card */
  height: 75%; /* Maintain aspect ratio */
  border-radius: 50%;
  margin-bottom: 1em; /* Relative margin */
}
.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d8d9db; /* Light grey background */
  padding: 1.25em; /* Padding inside the filter section */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  height: fit-content; /* Adjust height to fit content */
  margin-top: 1.25em;
  margin-left: 1.25em;
  overflow: auto;
  flex: 1;
}
.main-content {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 1em; /* Consistent spacing between items */
  justify-content: center; /* Center items horizontally */
}

@media (max-width: 100%) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }
}
/* 
@media (max-width: 100%) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 100%) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .main-content {
    grid-template-columns: 1fr;
  }
} */
@media (max-width: 768px) {
  .grid-item {
    width: calc(50% - 1em); /* 2 items per row on medium screens */
  }
}
@media (max-width: 480px) {
  .grid-item {
    width: 100%; /* 1 item per row on small screens */
  }
  .main-content {
    flex-direction: column; /* Stack filter-section below grid-container */
  }
  .filter-section {
    margin-left: 0; /* Remove left margin on small screens */
    margin-top: 1.25rem; /* 20px */
  }
}
