/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #e9edf0; /* Dark blue for headings */
  text-align: center; /* Center-align headings */
}

h2,
h3 {
  color: #0077b6; /* Dark blue for headings */
  text-align: center; /* Center-align headings */
}

a {
  color: #00b4d8; /* Light blue for links */
  text-decoration: none;
}

a:hover {
  color: #0077b6; /* Darker blue on hover */
  text-decoration: underline;
}

/* Header Styles */
header {
  background-image: url("images/back3.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 0.8em;
  background-color: #58a7f1; /* Light blue background */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 0.8rem;
  max-width: 80%;
  margin-top: 1em;
  margin-bottom: 0em;
}

.btn:hover {
  background-color: #0077b6;
  color: #fff;
}

/* Intro Section */
.intro-section {
  background-color: #b7d8f1; /* Light blue background */
  padding: 40px 0;
  text-align: center;
}

.intro-section h2 {
  color: #102c8ed3; /* Dark blue heading */
  margin-bottom: 20px;
}

.intro-section p {
  font-size: 1.1rem;
  color: #333; /* Dark grey text */
  max-width: 800px;
  margin: 0 auto;
}

/* Philosophers and Schools Sections */
.philosophers-section,
.schools-section {
  width: 100%;
  padding: 40px 0;
  text-align: center;
}

.philosophers-section h2,
.schools-section h2 {
  color: #102c8ed3; /* Dark blue heading */
  margin-bottom: 20px;
}

.philosophers-section p,
.schools-section p {
  font-size: 1.1rem;
  color: #333; /* Dark grey text */
  margin-bottom: 20px;
}

/* Footer Section */
footer {
  background-color: #0077b6;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

footer a {
  color: #00b4d8;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.school,
.concept {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

/* Top Nav */
.topnav {
  background-color: #222d4b;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #426c90;
  color: white;
}

/* swiper */
.philosophers-slider {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 7rem;
}
.swiper-slide-active {
  transform: translateX(0) !important;
  opacity: 1 !important;
  z-index: 2;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.philosopher-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fffaf0;
  padding: 38px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 300px;
  /* Swiper-specific adjustments */
  transform: translate3d(0, 0, 0);
  height: 100%;
}

.philosopher-image {
  max-width: 200px;
  height: 250px;
  margin-bottom: 1rem;
  border-radius: 50%;
}
.philosopher-card:hover,
.school-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.philosopher-card h3,
.school-card h3 {
  font-size: 1.2rem;
  margin: 0.5em 0;
  line-height: 1.2;
}

.philosopher-card p,
.school-card p {
  color: #333;
  font-size: 0.9rem;
  margin: 0.5em 0;
  line-height: 1.4;
}

.swiper-pagination-bullet {
  background-color: #0077b6;
  margin: 0 5px !important;
}
.swiper-pagination {
  bottom: 0;
  position: absolute;

  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: #15e726;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;

  cursor: pointer;
  z-index: 10;
}
.swiper-button-prev {
  left: 10px;
  position: absolute;
}

.swiper-button-next {
  right: 10px;
  position: absolute;
}
.swiper-slide-next {
  transform: translateX(15%) !important;
  opacity: 0.7 !important;
}

.swiper-slide-prev {
  transform: translateX(-15%) !important;
  opacity: 0.7 !important;
}

.swiper-container
  .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next):not(
    .swiper-slide-prev
  ) {
  opacity: 0;
  visibility: hidden;
}
