/* General Styles */
body {
  font-family: "Georgia", serif;
  background-color: #e2dad6; /* Warm beige background */
  color: #f5eded;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

h1 {
  color: #4a5d7e; /* Dark blue for headings */
  text-align: center; /* Center-align headings */
}

h2,
h3 {
  color: #4a5d7e; /* Dark blue for headings */
  text-align: center; /* Center-align headings */
}

a {
  color: #4a5d7e; /* Light blue for links */
  text-decoration: none;
}

a:hover {
  color: #4a5d7e; /* Darker blue on hover */
  text-decoration: underline;
}

/* Header Styles */
header {
  background-image: url("images/Back6.png");
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #eadcd6;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #4a5d7e;
}
header p {
  margin: 0;
  font-size: 1rem;
  color: #4a5d7ec8;
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 0.8em;
  background-color: #bfb4b4;
  color: #4e4f52;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  font-size: 0.7rem;
  max-width: 80%;
  margin-top: 1em;
  margin-bottom: 0em;
}

.btn:hover {
  background-color: #6b8c9e;
  text-decoration: underline;
  color: white;
}

/* Intro Section */
.intro-section {
  background-color: #b7d8f1; /* Light blue background */
  padding: 40px 0;
  text-align: center;
}

.intro-section h2 {
  color: #102c8ed3; /* Dark blue heading */
  margin-bottom: 20px;
}

.intro-section p {
  font-size: 1.1rem;
  color: #4a5d7e; /* Dark grey text */
  max-width: 800px;
  margin: 0 auto;
}

/* Philosophers and Schools Sections */
.philosophers-section,
.schools-section {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  background-color: #f5efe7;
}

.philosophers-section h2,
.schools-section h2 {
  color: #4a5d7e;
  margin-bottom: 20px;
}

.philosophers-section p,
.schools-section p {
  font-size: 1.1rem;
  color: #4a5d7e; /* Dark grey text */
  margin-bottom: 20px;
}

/* Footer Section */
footer {
  background-color: #789dbc;
  color: #f5eded;
  text-align: center;
  padding: 20px 0;
}

footer a {
  color: #f5dada;
  text-decoration: underline;
}

footer a:hover {
  text-decoration: underline;
  color: #f6cbcb;
}

.school,
.concept {
  color: #4a5d7e;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

/* Top Nav */
.topnav {
  background-color: #789dbc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
} 
.topnav a {
  float: left;
  color: #f5eded;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* .topnav {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 5px;
  padding: 10px 5px;
}

.topnav a {
  padding: 8px 10px;
  font-size: 14px;  
  white-space: nowrap;
} */

.topnav a:hover {
  background-color: #35697a;
}

.topnav a.active {
  background-color: #426c90;
  color: #f5eded;
}

/* swiper */
.philosophers-slider {
  width: 100%;
  height: auto;
  min-height: 500px;
  position: relative;
  margin: 0 auto;
  padding: 5px;
  overflow: hidden;
}
.swiper-slide-active {
  transform: translateX(0) !important;
  opacity: 1 !important;
  z-index: 2;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.philosopher-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background: #eee9e7; */
  background: linear-gradient(180deg, #eee8e5 0%, #edd6cbdc 100%);
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #eadcd6;
  width: 80%;
  max-width: 250px;
  height: 100%;
  max-height: 360px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.philosopher-card:hover,
.school-card:hover {
  transform: scale(1.03) !important;
  z-index: 10;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.philosopher-image {
  max-width: 200px;
  height: 250px;
  margin-bottom: 0.3rem;
  border-radius: 50%;
}

.philosopher-card h3,
.school-card h3 {
  font-size: 0.9rem;
  margin: 0.5em 0;
  line-height: 1.2;
  color: #40464e;
}

.philosopher-card p,
.school-card p {
  color: #4a5d7e;
  font-size: 0.4rem;
  margin: 0.5em 0;
  line-height: 1.4;
}

.swiper-pagination-bullet {
  background-color: #0077b6;
  margin: 0 4px !important;
}
.swiper-pagination {
  bottom: 80px !important;
  position: absolute;

  width: 100%;
}
.control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.control li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  background: #ecc6b4dc;
  cursor: pointer;
  transform: scale(1);
  color: white;
}

#custom-control .prev {
  left: -19px;
}

#custom-control .next {
  right: 21px;
}

.swiper-pagination-bullet-active {
  background: #6482ad !important;
}

.swiper-container
  .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next):not(
    .swiper-slide-prev
  ) {
  opacity: 0;
  visibility: hidden;
}

#back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #4b6181; /* Teal-blue */
  color: white;
  border: none;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none; /* Hidden by default */
}



/* @media (max-width: 242px) {
  .topnav a:not(.active) {
    display: none;
  }
  .topnav a.active {
    width: 100%;
    text-align: center;
  }
} */