{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Philosophy In Progress</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Swiper.css' %}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Swiper.css' %}" />
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#philosophers">Philosophers</a>
      <a href="#schools">Schools</a>
    </div>
  </head>
  <body>
    <header>
      <h1>Philosophy In Progress</h1>
      <p>Exploring the world of philosophy, one thought at a time.</p>
    </header>

    <!-- Philosophers Section -->
    <section class="philosophers-section">
      <div class="container">
        <h2>فلاسفه</h2>
        <div class="swiper-container philosophers-slider">
          <div class="swiper-wrapper">
            {% for philosopher in Philosophers %}
            <div class="swiper-slide philosopher-card">
              {% if philosopher.picture %}
              <img
                src="{{ philosopher.picture.url }}"
                alt="{{ philosopher.FullName }}"
                class="philosopher-image"
              />
              {% endif %}
              <h3>{{ philosopher.FullName }}</h3>
              {% if philosopher.School %}
              <p><strong>School:</strong> {{ philosopher.School.Name }}</p>
              {% endif %}
              <p><strong>موارد مرتبط:</strong> {{ philosopher.KeyIdeas }}</p>
              <a
                href="{% url 'philosopher_detail' philosopher.id %}"
                class="btn"
                >ادامه مطلب</a
              >
            </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2025 Philosophy In Progress. All rights reserved.</p>
      </div>
    </footer>
    <button id="back-to-top" class="btn">Back to Top</button>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/Swiper.js' %}"></script>
  </body>
</html>
