{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Philosophers</title>
    <link rel="stylesheet" href="{% static 'css/philo_list.css' %}" />
    <div class="topnav">
      <a href="{% url 'index' %}">Home</a>
      <a class="active" href="{% url 'philosopher_list' %}">Philosophers</a>
      <a href="{% url 'school_list' %}">Schools</a>
      <div class="magnifier-search">
        <div>
          <input
            type="text"
            placeholder="Search philosophers..."
            class="magnifier-input"
          />
        </div>
      </div>
    </div>
  </head>
  <body>
    as
    <header>
      <h1>Philosophers</h1>
    </header>

    <main>
      <section class="philosophers-section">
        <div class="main-content">
          <div class="grid-container">
            {% for philosopher in page_obj %}
            <div class="grid-item">
              {% if philosopher.picture %}
              <img
                src="{{ philosopher.picture.url }}"
                alt="{{ philosopher.FullName }}"
                class="philosopher-image"
              />
              {% endif %}
              <h2>{{ philosopher.FullName }}</h2>

              <a
                href="{% url 'philosopher_detail' philosopher.id %}"
                class="btn"
                >Learn More</a
              >
            </div>
            {% endfor %}
          </div>
          <div class="filter-section">
            <h3>Filters</h3>
            <!-- Search Input -->
            <input
              type="text"
              id="hashtag-search"
              placeholder="Search hashtags..."
              class="search-input"
              onkeyup="Filtering()"
            />

            <!-- Scrollable Hashtag List -->
            <div class="hashtag-list">
              <ul id="FilterUL">
                <li><a href="?">All</a></li>
                {% for hashtag in hashtags %}
                <li>
                  <a
                    href="?hashtag={{ hashtag.name }}"
                    class="{% if selected_hashtag == hashtag.name %}active{% endif %}"
                  >
                    {{ hashtag.name }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <!-- Pagination Section -->
        <div class="pagination">
          {% if page_obj.has_previous %}
          <a href="?page=1" class="page-btn">&laquo; First</a>
          <a href="?page={{ page_obj.previous_page_number }}" class="page-btn"
            >Previous</a
          >
          {% endif %}

          <span class="page-btn active">{{ page_obj.number }}</span>

          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="page-btn"
            >Next</a
          >
          <a href="?page={{ page_obj.paginator.num_pages }}" class="page-btn"
            >Last &raquo;</a
          >
          {% endif %}
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <p>&copy; 2025 Philosophy In Progress.</p>
      </div>
    </footer>
    <script src="{% static 'js/philo_list.js' %}"></script>
  </body>
</html>
